
.text-editor {
    margin-top: 50px;
}

.title-input {
    border: none;
    width: 100%;

    font-family: "Roboto Mono", monospace;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.text-input {
    border: none;
    width: 100%;

    font-size: 1.2rem;
}
