
.app {
  width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.gallery-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.story-card {
  width: 23%;
  margin-bottom: 15px;
  padding: 10px 15px;
  box-sizing: border-box;
  margin-right: 1%;

  border: 1px solid black;
  min-height: 200px;
}